@import 'helpers/variables.scss';

:export {
  colorPrimary1:$colorPrimary1;
  colorPrimary2: $colorPrimary2;
  colorPrimary3: $colorPrimary3;
  colorPrimary4: $colorPrimary4;
  colorPrimary5: $colorPrimary5;
  colorPrimary6: $colorPrimary6;
  colorPrimary7: $colorPrimary7;
  colorPrimary8: $colorPrimary8;
  colorPrimaryAlternate1: $colorPrimaryAlternate1;
  colorPrimaryAlternate2: $colorPrimaryAlternate2;
  colorPrimaryAlternate3: $colorPrimaryAlternate3;
  colorPrimaryAlternate4: $colorPrimaryAlternate4;
  colorPrimaryAlternate5: $colorPrimaryAlternate5;
  colorPrimaryAlternate6: $colorPrimaryAlternate6;
  colorPrimaryNeutral0: $colorPrimaryNeutral0;
  colorPrimaryNeutral1: $colorPrimaryNeutral1;
  colorPrimaryNeutral2: $colorPrimaryNeutral2;
  colorPrimaryNeutral3: $colorPrimaryNeutral3;
  colorPrimaryNeutral4: $colorPrimaryNeutral4;
  colorPrimaryNeutralAlternate1: $colorPrimaryNeutralAlternate1;
  colorPrimaryNeutralAlternate2: $colorPrimaryNeutralAlternate2;
  colorPrimaryNeutralAlternate3: $colorPrimaryNeutralAlternate3;
  colorPrimaryNeutralAlternate4: $colorPrimaryNeutralAlternate4;
  colorSecondaryNeutral1: $colorSecondaryNeutral1;
  colorSecondaryNeutral2: $colorSecondaryNeutral2;
  colorSecondaryNeutral3: $colorSecondaryNeutral3;
  colorSecondaryNeutral4: $colorSecondaryNeutral4;
  colorSecondaryNeutral5: $colorSecondaryNeutral5;
  colorSecondaryNeutralAlternate1: $colorSecondaryNeutralAlternate1;
  colorSecondaryNeutralAlternate2: $colorSecondaryNeutralAlternate2;
  colorSecondaryNeutralAlternate3: $colorSecondaryNeutralAlternate3;
  colorSecondaryNeutralAlternate4: $colorSecondaryNeutralAlternate4;
  colorSecondaryNeutralAlternate5: $colorSecondaryNeutralAlternate5;
  colorAccent1: $colorAccent1;
  colorAccent2: $colorAccent2;
  colorAccent3: $colorAccent3;
  colorAccent4: $colorAccent4;
  colorAccent5: $colorAccent5;
  colorAccent6: $colorAccent6;
  colorAccentAlternate1: $colorAccentAlternate1;
  colorAccentAlternate2: $colorAccentAlternate2;
  colorAccentAlternate3: $colorAccentAlternate3;
  colorAccentAlternate4: $colorAccentAlternate4;
  colorAccentAlternate5: $colorAccentAlternate5;
  colorAccentAlternate6: $colorAccentAlternate6;
  colorAccentAlternate7: $colorAccentAlternate7;
  colorBase1: $colorBase1;
  colorSolid1: $colorSolid1;
  colorSolid2: $colorSolid2;
  colorSolid3: $colorSolid3;
  colorSolid4: $colorSolid4;
  colorSolid5: $colorSolid5;
  colorSolid6: $colorSolid6;
  colorSolid7: $colorSolid7;
  colorSolid8: $colorSolid8;
  colorSolid9: $colorSolid9;
  colorGrayTones1: $colorGrayTones1;
  colorGrayTones2: $colorGrayTones2;
  colorGrayTones3: $colorGrayTones3;
  colorGrayTones5: $colorGrayTones5;
  colorGrayTones6: $colorGrayTones6;
  colorGrayTones7: $colorGrayTones7;
  colorGrayTones8: $colorGrayTones8;
  colorGrayTones9: $colorGrayTones9;
  colorGrayTones10: $colorGrayTones10;
  colorGrays1: $colorGrays1;
  colorGrays2: $colorGrays2;
  colorGrays3: $colorGrays3;
  colorGrays4: $colorGrays4;
  colorGrays5: $colorGrays5;
  colorGrays6: $colorGrays6;
  colorGrays7: $colorGrays7;
  colorGrays8: $colorGrays8;
  fontSizeRoot: $fontSizeRoot;
  fontSizeXXS: $fontSizeXXS;
  fontSizeXS: $fontSizeXS;
  fontSizeS: $fontSizeS;
  fontSizeM: $fontSizeM;
  fontSizeL: $fontSizeL;
  fontSizeXL: $fontSizeXL;
  fontSizeXXL: $fontSizeXXL;
  font48px: $font48px;
  font26px: $font26px;
  font22px: $font22px;
  font18px: $font18px;
  font15px: $font15px;
  font13px: $font13px;
  fontWeightMedium: $fontWeightMedium;
  fontWeightLight: $fontWeightLight;
  breakpointMtoT: $breakpointMtoT;
  breakpointTtoD: $breakpointTtoD;
  breakpointDtoDHD: $breakpointDtoDHD;
  brandPrimary: $brand-primary;
  brandSuccess: $brand-success;
  brandInfo: $brand-info;
  brandWarning: $brand-warning;
  brandDanger: $brand-danger;
  brandInverse: $brand-inverse;
  secondary: $secondary;
}
